$secondary: #ED8042;
$primary: #A2FFFD;
$themes: (
    "navlinks": #e9a174,
    "btn":#37ED83,
    "purpleH":rgb(155, 43, 155),
    "followers": #FF9900 ,
    "following": #CC00FF,
);
#form{
    max-width: 700px;
}
.postC{
    max-width: 240px
}
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
$theme-colors: map-merge($theme-colors, $themes);
@import "../node_modules/bootstrap/scss/bootstrap.scss";


