$secondary: #ed8042;
$primary: #a2fffd;
$themes: (
  "navlinks": #e9a174,
  "btn": #37ed83,
  "purpleH": rgb(155, 43, 155),
  "followers": #ff9900,
  "following": #cc00ff,
);
$h3-font-size: 1.25rem;
$font-size-base: 1.2rem;
#form,
#formSignup {
  max-width: 600px;
}
#form input,
#formSignup input {
  width: 180px;
}
.postC {
  max-width: 240px;
}
.cards {
  max-width: 600px !important;
}
main {
  min-height: 100vh;
}
.formEl {
  width: 130px;
}
btnCard {
  min-width: 85px;
}
.mainLanding{
    background-image: url(/img/bg.jpg);
    background-size: contain
}

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
$theme-colors: map-merge($theme-colors, $themes);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
